[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "themes/archie-zola"]
	path = themes/archie-zola
	url = https://github.com/XXXMrG/archie-zola.git
[submodule "hugo/themes/papermod"]
	path = hugo/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "hugo/themes/paper"]
	path = hugo/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
