[submodule "hugo/themes/papermod"]
	path = hugo/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
