{% macro header() %}
  <nav class="navigation">
    <section class="container">
      {% if page.title %}
        <a class="navigation-title" href="{{ config.base_url }}">
          {{ config.extra.author }}
        </a>
      {% endif %}
      <label class="menu-button float-right" for="menu-toggle">
        <i class="fas fa-bars"></i>
      </label>
      <ul class="navigation-list">
        {% for item in config.extra.menus.main %}
          <li class="navigation-item">
              <a class="navigation-link" href="{{ get_url(path=item.url) }}">{{ item.name }}</a>
          </li>
        {% endfor %}

        {% if config.generate_rss %}
          <li class="navigation-item"> |
            <a
              href="/rss.xml"
              aria-label="RSS"
              type="text/xml"
            >
              <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>
  </nav>
{% endmacro %}
