{% extends "page.html" %}

{% block title %}
  {% set url = "https://api.github.com/repos/" ~ page.extra.github %}
  {% set project = load_data(url=url, format="json") %}

  <h1>
    <a href="https://github.com/{{ page.extra.github }}">{{ page.title }}</a>
    <img src="{{ project.owner.avatar_url }}" width="25", height="25">
  </h1>

  {{ project.description }}
  <hr/>
{% endblock %}

{% block pagecontent %}
  {{ page.content | safe }}

  {% set url = "https://raw.githubusercontent.com/" ~ page.extra.github ~ "/master/README.md" %}
  {% set readme = load_data(url=url) %}

  {{ readme | markdown | safe }}
{% endblock %}
